/**
 * @file Custom Admin Fixes for Fubik
*/

/* Fix compatibility with Toolbar module */
div#toolbar-toolbar div.depth-0 span.icon {
  display: inline;
  height: auto;
  width: auto;
}

/* Action Icons */
div.view-header a.node-add {
  background: url('../images/ico-add.gif') 0 1px no-repeat;
  padding-left: 20px;
}

div.view-header a.page-view {
  background: url('../images/ico-find.gif') 0 1px no-repeat;
  padding-left: 20px;
  float: right;
}

div.view-footer a.topo {
  float: right;
  margin-bottom: -10px;
  position: relative;
  top: -10px;
}

body.page-admin th.views-field-tid,
body.page-admin th.views-field-comment-count,
body.page-admin th.views-field-edit-node,
body.page-admin th.views-field-delete-node {
  text-align: center;
}

body.page-admin td.views-field-tid,
body.page-admin td.views-field-comment-count,
body.page-admin td.views-field-title,
body.page-admin td.views-field-edit-node,
body.page-admin td.views-field-delete-node {
  vertical-align: middle;
}

body.page-admin td.views-field-tid,
body.page-admin td.views-field-comment-count {
  text-align: center;
}

body.page-admin td.views-field-edit-node a,
body.page-admin td.views-field-delete-node a {
  text-indent: -9999px;
  overflow: hidden;
  background: url('../images/ico-delete.gif') 0 0 no-repeat;
  display: block;
  height: 16px;
  width: 16px;
  margin: 0 auto;
}

body.page-admin td.views-field-edit-node a {
  background: url('../images/ico-edit.gif') 0 0 no-repeat;
}

body.page-admin div.view-empty {
  padding: 2px 0 0 35px;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px #ccc;
  background: url('../images/ico-warning.png') 5px 0 no-repeat;
}

/* Active-trail for Webmaster menu */
#block-menu-menu-webmaster ul.menu li.active-trail {
  background: #dedede;
}

/* Icons for Webmaster Menu */

#block-menu-menu-webmaster ul.menu li a {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 22px;
  padding-left: 32px;
  padding-top: 2px;
}

#block-menu-menu-webmaster ul.menu li.home a {
  background-image: url('../images/menu-home.png');
}

#block-menu-menu-webmaster ul.menu li.videos a {
  background-image: url('../images/menu-videos.png');
}

#block-menu-menu-webmaster ul.menu li.flash_da_home a,
#block-menu-menu-webmaster ul.menu li.flash a {
  background-image: url('../images/menu-flash.png');
}

#block-menu-menu-webmaster ul.menu li.faq a {
  background-image: url('../images/menu-faq.png');
}

#block-menu-menu-webmaster ul.menu li.destaques a {
  background-image: url('../images/menu-destaques.png');
}

#block-menu-menu-webmaster ul.menu li.noticias a,
#block-menu-menu-webmaster ul.menu li.news a {
  background-image: url('../images/menu-news.png');
}

#block-menu-menu-webmaster ul.menu li.blog a {
  background-image: url('../images/menu-blog.png');
}

#block-menu-menu-webmaster ul.menu li.configuracoes a,
#block-menu-menu-webmaster ul.menu li.settings a {
  background-image: url('../images/menu-settings.png');
}

#block-menu-menu-webmaster ul.menu li.clientes a {
  background-image: url('../images/menu-clientes.png');
}

#block-menu-menu-webmaster ul.menu li.servicos a {
  background-image: url('../images/menu-servicos.png');
}

#block-menu-menu-webmaster ul.menu li.fornecedores a {
  background-image: url('../images/menu-fornecedores.png');
}

#block-menu-menu-webmaster ul.menu li.produtos a {
  background-image: url('../images/menu-produtos.png');
}
